* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 楷体;
}

body {
    width: 100vw;
    height: 100vh;
    background: url(../imgs/bg.jpg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.br10 {
    border-radius: 10px;
}

/* 主体容器 */
.container {
    width: 800px;
    height: 500px;
    /* background-color: #DCE2F1; */
    background-color: rgba(220, 226, 241, 0.5);
}

/* 顶部区域 */
.container>.header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.title {
    /* color: #fff; */
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

/* 清空样式 */
.clear-all {
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
}

.clear-all:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}

.clear-all:active {
    box-shadow: inset 0px 0.1em 0.6em #DCE2F1;
    transform: translateY(0em);
}

.delete-all-icon {
    width: 15px;
    height: 15px;
}

.clear-all>p {
    font-size: 10px;
}

/* 提示区域 */
.prompt {
    height: 25px;
    /* background-color: #FAF9DE; */
    background-color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 10px;
    padding: 2px;
    border-radius: 5px;
}

.prompt>p {
    /* width: 115px; */
    padding: 1px 5px;
    height: 20px;
    /* background-color: #E3EDCD; */
    background-color: #CFD0D4;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    margin-left: 10px;
}

/* 主体区域 */
.main-content {
    height: 320px;
    /* background-color: #EAEAEF; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main-content ul {
    width: 600px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0px 10px 10px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.main-content ul li {
    margin-top: 10px;
    width: 500px;
    min-height: 40px;
    background-color: rgb(234, 234, 239, 0.8);
    border-radius: 10px;
    box-shadow: 0px 10px 80px -3px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-content ul li p {
    margin-left: 10px;
    font-size: 15px;
}

.main-content ul li img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.empty-box {
    align-self: center;
    margin-top: 30px;
}

.empty-icon {
    width: 200px;
    height: 200px;
}

.empty-box>p {
    text-align: center;
}

/* 底部区域 */
.footer {
    height: 115px;
    /* background-color: #EAEAEF; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* 输入框样式 */
.input {
    line-height: 28px;
    border: 2px solid transparent;
    border-bottom-color: #777;
    padding: .2rem 1rem;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.input:focus,
input:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: #7a9cc6;
}

.input::placeholder {
    color: #777;
}

.input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
}

/* 按钮样式 */
button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%);
}

.front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

button:hover {
    filter: brightness(110%);
}

button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

button:focus:not(:focus-visible) {
    outline: none;
}

/* 移动端适配 */
/* <= 750 */
@media screen and (max-width: 750px) {
    .container,.main-content {
        width: 100%;
    }

    .main-content ul {
        width: 90%;
    }

    .main-content ul li {
        width: 80%;
    }
}